<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Advanced Search')" />
<body class="grey darken-2">
<script th:replace="partials :: j-query" />
<header>

    <nav th:replace="partials :: navbar" />

</header>

<main class="container">
    <div class="card white">
        <div class="card-image">
            <img src="../../static/img/TENBar.png" th:src="@{~/img/TENBar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title black-text">Let's get a little more specific.</h3>
            <form action="" th:action="@{/search/advanced}" method="post">
                <div class="row">
                    <div class="input-field col s4">
                        <p class="black-text">Entry Date</p>
                        <select id="month" name="month" class="black-text">
                            <option value="00">- Month -</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <p class="white-text">Entry Date</p>
                        <select id="day" name="day" class="black-text">
                            <option value="00">- Date -</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <p class="white-text">Entry Date</p>
                        <select id="year" name="year" class="black-text">
                            <option value="00">- Year -</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <p class="black-text">Grade Level</p>
                        <select id="gradeLevelSelect" name="gradeLevelSelect" class="black-text">
                            <option value="00">- Grade Level -</option>
                            <option value="01">First Grade</option>
                            <option value="02">Second Grade</option>
                            <option value="03">Third Grade</option>
                            <option value="04">Fourth Grade</option>
                            <option value="05">Fifth Grade</option>
                            <option value="06">Sixth Grade</option>
                            <option value="07">Seventh Grade</option>
                            <option value="08">Eighth Grade</option>
                            <option value="09">Ninth Grade</option>
                            <option value="10">Tenth Grade</option>
                            <option value="11">Eleventh Grade</option>
                            <option value="12">Twelfth Grade</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <p class="black-text">Campus Select</p>
                        <select id="campus_id_select" name="campus_id_select" class="black-text">
                            <option value="00">- Campus -</option>
                            <option th:each="campus : ${allCampuses}" th:value="${campus.id}" th:text="${campus.campus_id} + ' - ' + ${campus.name}"></option>
                        </select>
                    </div>
                    <div class="input-field col s2">
                        <p class="black-text">School Year</p>
                        <select id="schoolYear" name="schoolYear" class="black-text">
                            <option value="00">- School Year -</option>
                        </select>
                    </div>
                    <div class="input-field col s10">
                        <input id="name-query" name="name-query" type="text" class="validate" />
                        <label for="name-query">Search for Name</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="studentID-query" name="studentID-query" type="text" class="validate" />
                        <label for="studentID-query">Search for ID</label>
                    </div>

                </div>
                <div class="modal-footer white">
                    <button type="submit" value="submit" class="waves-effect waves-teal btn-small green accent-4"><span><i class="fas fa-binoculars"></i>  Find</span></button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="partials :: ten-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
<script>
    /*<![CDATA[*/
    for (i = new Date().getFullYear(); i >= 1990; i--)
    {
        $('#year').append($('<option />').val(i).html(i));
    }
    for (i = new Date().getFullYear() + 1; i >= 1990; i--)
    {
        $('#schoolYear').append($('<option />').val(i).html(i));
    }
    /*]]>*/
</script>
</body>
</html>