* {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

button {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

input {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.ten-logo {
    max-height: 64px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.small-push {
    position: relative;
    bottom: 2px;
    left: 2px;
}

.help-this {
    position: relative;
    bottom: 14px;
}

.input-group-btn {
    width: 1%;
}

.display-none {
    display: none;
}

#topbarsearch .input-field .prefix {
    width:0rem !important;
}
#topbarsearch nav ul li:hover, nav ul li.active {
    background-color: black !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
    margin-left: 1rem !important;
}

::placeholder {
    color: #ffca28;
    opacity: 1;
}

@media (max-width: 1164px){
    .hide-me {
        display: none;
    }
}