<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Campus Students')" />
<body class="grey darken-2">
<script th:replace="partials :: j-query" />
<header>

    <nav th:replace="partials :: navbar" />

</header>

<main class="container">
    <div class="card white">
        <div class="card-image">
            <img src="../static/img/TENBar.png" th:src="@{~/img/TENBar.png}" alt="colorful bar" />
        </div>
        <div class="card-content">
            <h3 class="card-title"><span th:text="${campusName}" /> Students</h3>
            <p>You are seeing all students at <span th:text="${campusName}" /></p>
            <table class="striped">
                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Campus ID
                    </th>
                    <th>
                        Grade Level
                    </th>
                    <th>
                        Entry Date
                    </th>
                    <th>
                        School Year
                    </th>
                    <th>

                    </th>
                </tr>
                <tr th:each="student : ${campusStudents}">
                    <td th:text="${student.studentId}" />
                    <td th:text="${student.name}" />
                    <td th:text="${student.campus.campus_id}" />
                    <td th:text="${student.gradeLevel}" />
                    <td th:text="${formatter.format(student.entryDate)}" />
                    <td th:text="${student.schoolYear}" />
                    <td>
                        <a th:href="@{'/students/' + ${student.studentId}}">Edit Student</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>

<footer th:replace="partials :: ten-footer" />
<script th:replace="partials :: m-script" />
<script th:replace="partials :: modals-js" />
</body>
</html>